<%- include("../../views/partials/admin/header") %>
  <style>
   .col-md-3 {
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      margin: 10px;
    }
    .form-label {
      margin-bottom: 8px;
    }
    .form-control {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    .d-grid {
      margin-top: 20px;
    }
    .pagination-container {
      text-align: center;
    }
    .pagination a,
    .pagination .current-page {
      display: inline-block;
      padding: 5px 10px;
      margin: 0 2px;
      border: 1px solid #ddd;
      text-decoration: none;
      color: #333;
    }
    .pagination a:hover {
      background-color: #f5f5f5;
    }
    .error-message {
      color: red;
      font-size: 14px;
    }

  </style>
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Category</h2>
      </div>
    </div>
    <header class="card-header text-center mb-20">
      <form action="/admin/category/" method="get" class="d-inline">
        <div class="input-group input-group-sm border  border-grey rounded-pill" style="width: 500px; margin-left: 230px">
          <input type="text" class="form-control border-0 rounded-pill mt-3" placeholder="Search categories" name="search"/>
          <button class="btn" type="submit">Search</button>
        </div>
      </form>
    </header>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <form method="post" action="/admin/addCategory" onsubmit="return handleFormSubmit(event)">
              <div class="mb-4">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" placeholder="Type here" class="form-control" id="product_name" required/>
                <div id="name-error" class="error-message"></div>
              </div>
              <div class="mb-4">
                <label class="form-label" for="description">Description</label>
                <textarea placeholder="Type here" name="description" class="form-control" id="descriptionId" required></textarea>
                <div id="description-error" class="error-message"></div>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary" type="submit">
                  Create category
                </button>
              </div>
            </form>
          </div>
          <div class="col-md-8 ml-10">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="text-center"></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Offer Price</th>
                    <th>Offer</th>
                    <th>Status</th>
                    <th>List/Unlist</th>
                    <th class="text-start">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <%cat.reverse().forEach((category,index)=>{%>
                  <tr>
                    <td></td>
                    <td class="text-start"><%= category.name %></td>
                    <td class="text-start"><%= category.description %></td>
                    <td>
                      <% if(category.categoryOffer){ %>
                        <%= category.categoryOffer %>
                        <%}else{ %>
                          0%
                          <%}%>
                    </td>
                    <td class="text-start">
                      <% if(category.categoryOffer){%>
                      <button class="btn btn-info" style="width: 100px">
                        <a href="#" class="text-white" onclick="addOffer('<%=category._id %>')">Add Offer</a>
                      </button>
                      <%}else{ %>
                      <button class="btn btn-info"style="width: 100px">
                        <a href="#" class="text-white" onclick="removeOffer('<%=category._id %>')">Remove</a>
                      </button>
                      <%}%>
                    </td>
                    <td class="text-start">
                      <%if(category.isListed){%>
                      <span class="badge rounded-pill text-success" style="width: 60px">Listed</span>
                      <%}else{ %>
                      <span class="badge rounded-pill text-danger" style="width: 60px">Unlisted</span>
                      <%}%>
                    </td>
                    <td class="text-start">
                      <%if(category.isListed){%>
                      <button class="btn btn-danger" style="width: 70px">
                        <a href="/admin/listCategory?id=<%=category._id%>" class="text-white">Unlist</a>
                      </button>
                      <%}else{ %>
                      <button class="btn btn-success" style="width: 70px">
                        <a href="/admin/unlistCategory?id=<%=category._id%>" class="text-white">List</a>
                      </button>
                      <%}%>
                    </td>
                    <td class="text-start">
                      <a href="/admin/editCategory?id=<%=category._id%>" class="btn btn-info text-white">Edit</a>
                    </td>
                  </tr>
                <%})%> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center mb-4">
              <%for(let i=1;i<=totalPages;i++){%>
               <li class="page-item <%=(i===currentPage) ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%=i%>"><%= i %></a>
  
               </li>
               <%}%>
          </ul>
      </nav>
  </div>

  </section>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<script>
  
  function handleFormSubmit(event){
    event.preventDefault()
    if(!validateForm()){
      return 
    }
    const name = document.getElementById("product_name").value
    const description = document.getElementById("descriptionId").value

    fetch("/admin/addCategory",{
      method:"post",
      headers:{
        'content-type':'application/json'
      },
      body:JSON.stringify({name,description})
    })
    .then(response=>{
      if(!response.ok){
        return response.json().then(err=>{
          throw new Error(err.error)
        })
      }
      return response.json()
    })
    .then(data=>{
      location.reload()
    })
    .catch(error=>{
      console.log(error.message);
      if(error.message === "Category already exists"){
        Swal.fire({
          icon:"error",
          title:"OOPS",
          text:"Category already exists"


        })
      }else{
        Swal.fire({
          icon:"error",
          title:"OOPS",
          text:"An error occured, While adding category"
        })
      }
    })
  }

  function validateForm(){
    clearErrorMessages()
    const name = document.getElementById("product_name").value.trim()
    const description = document.getElementById("descriptionId").value.trim()
    isValid = true

    if(name===""){
      displayErrorMessage("name-error",'Please enter a name')
      isValid = false
    } else if (!/^[A-Za-z\s]+$/.test(name)){
      displayErrorMessage("name-error","Category name should contain alphabetic characters")
      isValid = false
    }

    if(description===""){
      displayErrorMessage("description-error", 'Please enter a description')
      isValid = false
    }

    return isValid = true
  }

  function displayErrorMessage(elementId,message){
    var errorElement = document.getElementById(elementId)
    errorElement.innerText = message
    errorElement.style.display = "block"
  }

  function clearErrorMessages(){
    const errorElements = document.getElementsByClassName("error-message")
    Array.from(errorElements).forEach((element)=>{
      element.innerText = ""
      element.style.display = "none"


    })
  }

  async function addOffer(categoryId) {
    const {value:amount} = await Swal.fire({
      title:"Offer in percentage",
      input:"number",
      inputLabel:"Percentage",
      inputPlaceholder:"%",
    })

    if(amount){
      try {
        const response = await fetch("/admin/addCategoryOffer",{
          method:"post",
          headers:{
            'content-type':"application/json"
          },
          body:JSON.stringify({
            percentage: amount,
            categoryId:categoryId,
          })
        })

        const data = await response.json()
        if(response.ok && data.status === true){
            Swal.fire(
              "Offer added",
              "the offer has been added",
              "success",
            ).then(()=>{
              location.reload()
            })
        }else{
          Swal.fire("Failed",data.message||"Adding offer failed","error")
        }

      } catch (error) {
        Swal.fire(
          "Error",
          "An error occurred, while adding offer",
          "error"
        )
        console.error("error adding offer",error);
        
        
      }
    }
  }

  async function removeOffer(categoryId) {
    try {
      const response = await fetch("/admin/removeCategoryOffer",{
        method:"post",
        headers:{
          'content-type':"application/json"
        },
        body:JSON.stringify({
            categoryId:categoryId,
          })
      })

      const data = await response.json()
      if(response.ok && data.status === true){
            Swal.fire(
              "Offer removed",
              "the offer has been removed",
              "success",
            ).then(()=>{
              location.reload()
            })
        }else{
          Swal.fire("Failed",data.message||"removing offer failed","error")
        }
    } catch (error) {
      Swal.fire(
          "Error",
          "An error occurred, while removing offer",
          "error"
        )
        console.error("error removing offer",error);
    }
  }

</script>
<%- include("../../views/partials/admin/footer") %>